#ced_mbc_product_fields_wrapper {
	min-height: 400px;
	display: flex;
	width: 100%;
}

.ced_mbc_product_fields_tabs {
	width: 25%;
	min-height: 400px;
	border-right: 1px solid #ccc;
}
.ced_mbc_product_fields_content {
	width: 75%;
	padding: 10px;
	box-sizing: border-box;
	height: 500px;
	background-color: #fff;
	overflow: scroll;
}
.tab {
	padding: 15px 40px 5px 10px;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.tab img {
	height: 30px;
}
.tab:hover{
	opacity: 0.8;
}
.tab.active {
background-color: seashell;}
.tab-content {
	display: none;
}
.tab-content.active ,
.submenu.active{
	display: block;
}
.reset_css {
	margin: unset !important;
	padding: unset !important;
}

   .submenu {
	display: none;
	background-color: seashell;
   }

.submenu a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.submenu_wrap {
	border-bottom: 1px solid #ccc;
}

.ced_mbc_product_label {
	text-transform: uppercase;
	font-weight: bold;
}
.ced_mbc_product_fields_wrapper{
	width: 100%;
}

.ced_mbc_product_fields_wrapper select {
	width: 100%;
}
.ced_mbc_product_label._ced_mbc_req_level_recommended {
	color: orange;
}
.ced_mbc_product_label._ced_mbc_req_level_optional {
	color: orange;
}

.ced_mbc_product_label._ced_mbc_req_level_recommended {
	color: green;
}

.ced_mbc_product_label._ced_mbc_req_level_required {
	color: red;
}

